{% extends 'base.html.twig' %}

{% block title %}
    Home Page
{% endblock %}

{% block body %}
    <h1>Bienvenue sur la Home Page</h1>

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.email }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
{% endblock %}